ilariasuitewallpaper.jpg filter=lfs diff=lfs merge=lfs -text
ilariaaisuite.png filter=lfs diff=lfs merge=lfs -text
weights/Mohamed_Henedy.index filter=lfs diff=lfs merge=lfs -text
weights/Mohamed_Henedy.pth filter=lfs diff=lfs merge=lfs -text
weights/Rivet_Female.index filter=lfs diff=lfs merge=lfs -text
weights/Rivet_Female.pth filter=lfs diff=lfs merge=lfs -text
logs/Mohamed_Henedy.index filter=lfs diff=lfs merge=lfs -text
logs/Rivet_Female.index filter=lfs diff=lfs merge=lfs -text
weights/Optimus_Prime.pth filter=lfs diff=lfs merge=lfs -text
logs/Optimus_Prime.index filter=lfs diff=lfs merge=lfs -text
weights/Hafeez-Al-Daraji.pth filter=lfs diff=lfs merge=lfs -text
logs/Hafeez-Al-Daraji.index filter=lfs diff=lfs merge=lfs -text
weights/Hafeez-Al-Daraji2.pth filter=lfs diff=lfs merge=lfs -text
weights/Da7ee7.pth filter=lfs diff=lfs merge=lfs -text
